{% extends "layout.html" %}
{% block title %}Add Answer{% endblock %}
{% block content %}
<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">
    <main>
        <h1>Add your answer here</h1>
        <div class="w3-center">
            <form action="/question/{{ question_id }}/add-answer" method="POST" enctype=multipart/form-data>
                <label for="answer">Your answer:<br></label>
                <textarea id="answer" name="answer" cols="80" rows="10"></textarea>
                <br><br>
                <label for="image">Add an image:<br></label>
                <input name='img' id="img-input" type="file" class="button-28">
                <br><br>
                <input type="submit" value="Add an answer" class="button-28" id="small-button">
            </form>
        </div>
    </main>
</div>
{% endblock %}