<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
</head>
<style>
    main {
        padding: 10px;
        background: #f1f1f1f1;
        alignment: center;
    }

    h1 {
        color: black;
        border-bottom: 1px dotted darkgreen;
        font-family: sans-serif;
        text-align: center;
    }
</style>
<body>
<main>
    <h1><a href="/list">Ask Mate</a></h1>
    <h1>Add your question here</h1>
    <form action="/add-question" method="POST" enctype=multipart/form-data>
        <label for="title">Question's title:<br></label>
        <input name="title" id="title" type="text">
        <br><br>
        <label for="question">Your question's text:<br></label>
        <textarea type="text" id="question" name="question"></textarea>
        <br><br>
        <label for="image">Add an image:<br></label>
        <input type="file" name="img">
        <br><br>
        <input type="submit" value="Add a question">
    </form>
</main>
</body>
</html>