<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
</head>
<body>
<h1>Add your question here</h1>
<form action="/add-question" method="POST">
    <label for="title">Question's title:<br></label>
    <input name="title" id="title" type="text">
    <br><br>
    <label for="question">Your question's text:<br></label>
    <textarea type="text" id="question" name="question"></textarea>
    <br><br>
    <label for="image">Add an image:<br></label>
    <input type="file" id="img" name="img" accept="image/*">
    <br><br>
    <input type="submit" value="Add a question">
</form>
</body>
</html>