<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an answer</title>
</head>
<style>
    main {
        padding: 10px;
        background: lightblue;
        alignment: center;
    }

    h1 {
        color: black;
        border-bottom: 1px dotted darkgreen;
        font-family: sans-serif;
        text-align: center;
    }
</style>
<body>
<main>
    <h1><a href="/list">Ask Mate</a></h1>
    <h1>Add your answer here</h1>
    <form action="/question/{{ question_id }}/add-answer" method="POST" enctype=multipart/form-data>
        <label for="answer">Your answer:<br></label>
        <textarea id="answer" name="answer"></textarea>
        <br><br>
        <label for="image">Add an image:<br></label>
        <input name='img' id="title" type="file">
        <br><br>
        <input type="submit" value="Add an answer">
    </form>
</main>
</body>
</html>