<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display question</title>
</head>
<style>
    h1 {
        color: black;
        border-bottom: 1px dotted darkgreen;
        font-family: sans-serif;
        text-align: center;
    }
</style>
<body>
<h1><a href="/list">Ask Mate</a></h1>
<h2>Question:</h2>
<table>
    <tr>
        {% for key in questions[0] %}
            <th>
                {{ key|title }}
            </th>
        {% endfor %}
    </tr>
    <tr>
        {% for key in question %}
            <td>
                {{ question[key] }}
            </td>
        {% endfor %}
    </tr>
</table>
<a href="/question/{{ question['id'] }}/delete">Delete this question</a>
<h2>Answers:</h2>
<a href="/question/{{ question['id'] }}/add-answer">Add answer to that question</a>
<table>
    {% if desired_answers != "" %}
        <tr>
            {% for key in answers[0] %}
                <th>
                    {% if key != "question id" %}
                        {{ key|title }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        {% for answer in desired_answers %}
            <tr>
                {% for key in answer %}
                    <td>
                        {% if key != "question id" %}
                            {{ answer[key] }}
                            {% if key == "image" %}
                                <form action="/answer/{{ answer['id'] }}/delete" method="GET">
                                <br>
                                <input type="submit" value="Delete this answer">
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <h2>There are no answers to that question!</h2>
    {% endif %}


</table>
</body>
</html>