{% extends "layout.html" %}
{% block title %}Edit Answer{% endblock %}
{% block content %}
    <h1>Edit your answer</h1>
    <div class="w3-center">
        <form action="/answer/{{ answer.id }}/edit" method="POST" enctype=multipart/form-data>
            <label for="question">Your answer's text:<br></label>
            <textarea type="text" id="answer" name="answer" cols="80" rows="10">{{ answer.message }}</textarea>
            <br><br>
            <label for="image">Add an image:<br></label>
            <input type="file" name="img" class="w3-button w3-white">
            <br><br>
            <input type="submit" value="SUBMIT" class="w3-button w3-black" id="bigger-button">
        </form>
    </div>
{% endblock %}