{% extends "layout.html" %}
{% block title %}Edit Comment{% endblock %}
{% block content %}
        <h1>Edit your comment here</h1>
        <div class="w3-center">
            <form action="/comment/{{ comment.id }}/edit" method="POST" enctype=multipart/form-data>
                <label for="question">Your comment's text:<br></label>
                <textarea type="text" id="comment" name="comment" cols="80" rows="10">{{ comment.message }}</textarea>
                <br><br>
                <input type="submit" value="SUBMIT" class="button-28" id="small-button">
            </form>
        </div>
{% endblock %}