{% extends "layout.html" %}
{% block title %}Edit Question{% endblock %}
{% block content %}
        <h1 id="header-center">Edit your question here</h1>
        <div class="w3-center">
            <form action="/question/{{ question.id }}/edit" method="POST" enctype=multipart/form-data>
                <label for="title">Question's title:<br></label>
                <input name="title" id="title" type="text" value="{{ question.title }}">
                <br><br>
                <label for="question">Your question's text:<br></label>
                <textarea type="text" id="question" name="question" cols="80" rows="10">{{ question.message }}</textarea>
                <br><br>
                <label for="image">Add an image:<br></label>
                <input type="file" name="img" class="button-28" id="img-input">
                <br><br>
                <input type="submit" value="SUBMIT" class="button-28" id="small-button">
            </form>
        </div>
{% endblock %}