<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="/static/css/main.css">
        <script async src="https://kit.fontawesome.com/22cd3c75e4.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<div class="hero">
    <nav>
        <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"></a>
        {#            <h1 class="logo" style="color: white">Ask Mate</h1>#}
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/search"> Search </a></li>
            <li><a href="/add-question"> Add Question </a></li>
            <li><a href="/about"> About </a></li>
        </ul>
        <i class="fa-solid fa-user" id="user-profile-icon" onclick="toggleMenu()"></i>
        {#            <img src="{{url_for('static', filename='images/user.png')}}" class="user-pic" onclick="toggleMenu()">#}
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="{{ url_for('static', filename='images/user.png') }}">
                    <h3>James Aldrino</h3>
                </div>
                <hr>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/profile.png') }}">
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/setting.png') }}">
                    <p>Settings</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/help.png') }}">
                    <p>Help & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/logout.png') }}">
                    <p>Logout</p>
                    <span>></span>
                </a>

            </div>
        </div>
    </nav>
    <br><br>
    {% block content %}{% endblock %}
</div>
<script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu() {
        subMenu.classList.toggle("open-menu");
    }
</script>
{% block footer %}
    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
        <p>Made with &#x1F496; by Damian & Ola</p>
    </footer>
{% endblock %}
</body>
</html>