{% extends "layout.html" %}
{% block title %}Ask Mate{% endblock %}
{% block content %}
    {% if search_phrase is defined %}
        <h1 id="header-center">Search results for:
            <mark>{{ search_phrase }}</mark>
        </h1>
    {% endif %}
    {% if questions|length == 0 %}
        <h1 id="header-center">No results</h1>
    {% endif %}
    {% if questions|length >= 1 and search_phrase is defined %}
        <div class="questions-all">
        <div class="dropdown">
            <button class='button-28' id="small-button">SORT BY</button>
            <div class="dropdown-content">
                <a href="/search?order_by=title&q={{ search_phrase }}">Title</a>
                <a href="/search?order_by=view_number&q={{ search_phrase }}">Most viewed</a>
                <a href="/search?order_by=view_number&order_direction=asc&q={{ search_phrase }}">Least viewed</a>
                <a href="/search?order_by=vote_number&q={{ search_phrase }}">Highest score</a>
                <a href="/search?order_by=vote_number&order_direction=asc&q={{ search_phrase }}">Lowest score</a>
                <a href="/search?order_by=submission_time&q={{ search_phrase }}">Newest</a>
                <a href="/search?order_by=submission_time&order_direction=asc&q={{ search_phrase }}">Oldest</a>
            </div>
        </div>

    {% endif %}
    {% if questions|length >= 1 and search_phrase is not defined %}
        <div class="questions-all">

        <div class="dropdown">
            <button class='button-28' id="small-button">SORT BY</button>
            <div class="dropdown-content">
                <a href="/list?order_by=title">Title</a>
                <a href="/list?order_by=view_number">Most viewed</a>
                <a href="/list?order_by=view_number&order_direction=asc">Least viewed</a>
                <a href="/list?order_by=vote_number">Highest score</a>
                <a href="/list?order_by=vote_number&order_direction=asc">Lowest score</a>
                <a href="/list?order_by=submission_time">Newest</a>
                <a href="/list?order_by=submission_time&order_direction=asc">Oldest</a>
            </div>

        </div>
    {% endif %}
{% if search_phrase is defined %}
    {% set phrase = "'" ~ search_phrase ~ "'" %}
    <style onload="search({{ phrase }})"></style>
{#    <br>#}
{#    <button class="button-28" type="button" id="small-button" onclick="search({{ phrase }})">HIGHLIGHT MY RESULTS#}
{#    </button>#}
{% endif %}
{% for question in questions %}

    <div class="single-question">

        <div id="text" class="searched">
            <h1 id="question-title-in-lists"><a href="/question/{{ question.id }}">{{ question.title }}</a></h1>
            Added on {{ question.submission_time }}, Views: {{ question.view_number }},
            Votes: {{ question.vote_number }}
            <br>
            <p>{{ question.message }}</p>
            <br><br>
        </div>
    </div>
{% endfor %}
{% if questions|length < 6 %}
    <div class="position-middle">
        <a href="/list">
            <button class="button-28" id="small-button">LOAD ALL QUESTIONS</button>
        </a>
    </div>
{% endif %}
</div>
    <script>
        function search(e) {
            let searched = e;
            if (e !== "") {
                let texts = document.getElementsByClassName("searched");
                let re = new RegExp(searched, "g"); // search for all instances
                for (let i = 0; i < texts.length; i++) {
                    let text = texts[i]
                    console.log(text)
                    let newText = text.innerHTML.replace(re, `<mark>${searched}</mark>`);
                    text.innerHTML = newText;
                }

            }
        }
    </script>
{% endblock %}
