{% extends "layout.html" %}
{% block title %}Ask Mate{% endblock %}
{% block content %}
    <div class="w3-padding-large w3-hide-small">
        <div class="dropdown">
            <button class="dropbtn">SORT BY</button>
            <div class="dropdown-content">
                <a href="/list?order_by=title">Title</a>
                <a href="/list?order_by=view%20number">Most viewed</a>
                <a href="/list?order_by=view%20number&order_direction=asc">Least viewed</a>
                <a href="/list?order_by=vote%20number">Highest score</a>
                <a href="/list?order_by=vote%20number&order_direction=asc">Lowest score</a>
                <a href="/list?order_by=submission%20time">Newest</a>
                <a href="/list?order_by=submission%20time&order_direction=asc">Oldest</a>
            </div>
        </div>
    </div>
    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-grayscale w3-large">
        <main>
            <table class="greyGridTable">
                <tr>
                    {% for key in questions[0] %} {% if key != "id" %}
                        <th>
                            {% if key == 'submission time' %} Added {% elif key == "view number" %}
                                Views {% elif key == "vote number" %} Score {% elif key == "title" %}
                                Question {% elif key == "message" %} Description {% else %} {{ key|title }} {% endif %}
                        </th>
                    {% endif %} {% endfor %}
                </tr>
                {% for question in questions %}
                    <tr>
                        {% for key, value in question.items() %} {% if key != "id" %}
                            <td>
                                {% if key == 'image' %} {% if value != '' %}
                                    <img src="/static/{{ question['image'] }}" alt="No image"
                                         style="width:60px;height:50px;"/> {% else %} {{ value }}
                                {% endif %} {% elif key == 'title' %}
                                    <a href="/question/{{ question['id'] }}">{{ value }}</a> {% else %}
                                    {{ value }} {% endif %}
                            </td>
                        {% endif %} {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </main>
    </div>
{% endblock %}