{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block content %}
<div class="center-vertically center-horizontally" id="search-page">
    <h2 id="header-center">What are you looking for?</h2>
    <form action="/search" method="get" class="search_form center-vertically center-horizontally">
        <input type="text" name="q" id="q" placeholder="Type search phrase...">
        <input type="submit" value="Search" class="button-28" id="small-button">
    </form>
</div>
{% endblock %}