{% extends "layout.html" %}
{% block content %}
    <div class="center-horizontally center-vertically">
        {% for user in users %}
            <div class="single-user-table">
                {% set user_avatar='images/user_profile_images/' ~ user.avatar %}
                <img id="image-all-users" src="{{ url_for('static', filename=user_avatar) }}">
                <a href="#">{{ user.name }}</a>
                Created on: {{ user.member_since }}
                Location: {{ user.location }}
                Reputation: {{ user.reputation }}
                {% set questions_asked = namespace(value=0) %}
                {% for question_data in counted_questions %}
                    {% if question_data.user_id == user.id %}
                        {% set questions_asked.value = questions_asked.value + question_data.questions_asked %}
                    {% endif %}
                {% endfor %}
                Questions asked: {{ questions_asked.value }}
                Answers given: 0
                Comments given: 0
            </div>
        {% endfor %}
    </div>
{% endblock %}